streamlit
langchain>=0.1.0
langchain-core>=0.1.0
langchain-google-genai>=0.0.4
google-generativeai>=0.3.0
langchain-pinecone>=0.0.1
langchain-huggingface>=0.0.5
pinecone-client>=3.0.0
sentence-transformers